[submodule "emu/qemu"]
	path = emu/qemu
	url = https://github.com/cheater78/acae-qemu.git
[submodule "benchmark/coremark/coremark"]
	path = benchmark/coremark/coremark
	url = https://github.com/cheater78/acae-coremark.git
[submodule "benchmark/embench/embench"]
	path = benchmark/embench/embench
	url = https://github.com/embench/embench-iot.git
[submodule "baremetal/printf"]
	path = baremetal/printf
	url = https://github.com/mpaland/printf.git
[submodule "baremetal/native/STM32CubeF4"]
	path = baremetal/native/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4.git
